<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="skarlat.dev.ecoproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <queries>
        <intent>
            <action android:name="android.intent.action.SENDTO" />
        </intent>
    </queries>

    <supports-screens
        android:largeScreens="false"
        android:xlargeScreens="false" />

    <application
        android:name=".EcoTipsApp"
        android:allowBackup="true"
        android:debuggable="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="HardcodedDebugMode"
        tools:replace="android:supportsRtl"
        tools:targetApi="m">
        <activity android:name=".activity.WhyActivity" />
        <activity
            android:name=".activity.RemindPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AuthActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activity.CardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CourseActivity"
            android:exported="false" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="false"
            android:theme="@style/AppTheme.Launch">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>