<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="skarlat.dev.ecoproject">

	<uses-permission android:name="android.permission.INTERNET" />

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:largeHeap="true"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/AppTheme"
		android:usesCleartextTraffic="true">
		<activity android:name=".activity.WhyActivity" />
		<activity
			android:name=".activity.TestActivity"
			android:exported="true" />
		<activity
			android:name=".activity.RemindPasswordActivity"
			android:exported="true" />
		<activity
			android:name=".activity.RegistrationActivity"
			android:exported="true" />
		<activity
			android:name=".activity.SignInActivity"
			android:exported="true" />
		<activity
			android:name=".activity.AuthActivity"
			android:exported="true" />
		<activity
			android:name=".activity.CardActivity"
			android:exported="true">
		</activity>
		<activity
			android:name=".activity.HomeActivity"
			android:exported="true" />
		<activity
			android:name=".activity.CourseActivity"
			android:exported="true" />
		<activity
			android:name=".activity.MainActivity"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<meta-data
			android:name="preloaded_fonts"
			android:resource="@array/preloaded_fonts" />
	</application>

</manifest>